@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: rgb(127, 186, 0);
  --dark-blue: rgb(0, 40, 85);
  --light-blue: rgb(81, 179, 180);
  --light-grey: rgb(104, 124, 135);
  --brown: rgb(77, 77, 77);
  --blue: rgb(0, 158, 224);
  --pink: rgb(234, 29, 118);
  --grey: rgb(185, 185, 185);
}
body {
  font-family: "Mate SC", serif;
}
.wrapper {
  width: 100vw;
  height: auto;
  background: var(--dark-blue);
  padding-bottom: 2rem;
}
.white-wrapper {
  width: 100vw;
  height: auto;
  background: white;
}
.container {
  width: 75%;
  overflow: hidden;
  margin: auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header-1,
.header-2 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  color: white;
  flex-wrap: wrap;
}
.header-1 nav ul,
.header-2 ul,
.search-bar,
.inline-list {
  display: flex;
  flex-wrap: wrap;
}
.header-1 nav ul li {
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  background: rgb(77, 77, 77);
}
.header-2 ul a,
.inline-list li a {
  color: white;
}
.header-1 nav ul li.blue {
  background: var(--light-blue);
}
.header-1 nav ul li.green {
  background: var(--green);
}
.courses-nav li {
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-right: 0.5px solid white;
}
.courses-nav li:hover {
  background: var(--green);
  border-right: none;
}

.search-bar input,
button {
  height: 25px;
  padding: 0.3rem;
  text-decoration: none;
  border: none;
}
.search {
  background: var(--green);
  color: white;
}
.showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.showcase img {
  width: 100%;
  max-height: 295px;
  object-fit: cover;
}
.cl-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.cl-2 img,
.card img {
  height: 100%;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  transform: rotateX(180deg);
  color: white;
  padding: 1rem;
}
.card:hover {
  transform: rotateX(180deg);
}

.badges {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  color: white;
}

.badges div {
  padding: 1rem;
}
.badges div:hover {
  cursor: pointer;
  opacity: 0.8;
}
.badges h2 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}
.badges div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.badges div img {
  height: 100%;
  width: 100%;
}
.black {
  color: var(--dark-blue);
}
.blue {
  background: var(--blue);
}

.pink {
  background: var(--pink);
}
.green {
  background: var(--green);
}
.white {
  background: white;
  padding: 2rem;
}
.light-grey {
  background: var(--light-grey);
}
.grey {
  background: var(--grey);
}
hr {
  color: black;
}
.white h3 {
  color: var(--green);
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem 0;
}
.tables {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 2rem 0;
}
.tables h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.links li {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.links li a {
  padding-left: 0.5rem;
}
.links li a:hover,
.info li a:hover,
.box a:hover {
  color: var(--green);
  text-decoration: underline;
}
.info ul {
  border: 1px solid black;
  height: auto;
  padding-bottom: 2rem;
}
.info ul li {
  margin: 0 1rem;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
}
.info ul li:first-child {
  margin: 0;
  padding: 0.5rem;
  border: none;
  color: white;
  font-size: 1rem;
}
.boxes .box {
  border: 1px solid black;
  margin: 1rem;
}
.boxes .box h3 {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
}
.box div {
  padding: 1rem;
}
.dark-green-wrapper {
  width: 100vw;
  height: auto;
  background: var(--green);
}
.subscribe-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2rem;
  padding: 1rem 0;
}

.sub-box {
  background: rgb(77, 77, 77);
  color: white;
  padding: 1rem 1.5rem;
  padding-top: 2rem;
}
.sub-box .btn-green {
  background: var(--green);
  color: white;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  padding-bottom: 1.3rem;
  font-weight: bold;
}
.sub-box .btn-green:hover {
  opacity: 0.8;
  border-radius: 1.3rem;
}
.subscribe-section a {
  color: black;
}
.subscribe-section a:hover {
  text-decoration: underline;
}
.subscribe-section h3,
.subscribe-section ul li {
  margin-bottom: 1rem;
}
.subscribe-section h3 {
  text-transform: uppercase;
}
.sub-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}
.follow-list {
  border-left: 1px solid black;
  padding-left: 1rem;
}
footer {
  color: white;
  padding: 1.5rem;
  background: rgb(77, 77, 77);
  font-size: 2rem;
}
.inline-list li {
  padding: 0.5rem;
  font-size: 0.8rem;
}
@media (max-width: 800px) {
  .showcase,
  .tables,
  .subscribe-section {
    grid-template-columns: 1fr;
  }
}
